<header class="cls-header">
    <section class="cls-section-header">
        <div routerLink="/home"><h1>Home</h1></div>
    </section>
    <section class="btn-option cls-section-header">
        <div routerLink="/shoppingApp">Shopping App</div>
        <div routerLink="/CountDownTimerEventEmitter">Timer I/O</div>
        <div routerLink="/CountDownTimerService">Timer Service</div>
        <div routerLink="/StudentMarks">Student Marks</div>
        <div routerLink="/ScrollableDivs">Scrollable Divs</div>
    </section>
</header>